$header-footer-color: #3d9970;
$sidebar-color: #001f3f;
$white-color: #fff;

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $sidebar-color;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: $sidebar-color;
    background: $white-color;
}

#sidebar ul li a i {
    margin-right: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $header-footer-color;
    color: $white-color;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.header {
    background-color: $header-footer-color;
    color: $white-color;
}

.page-content {
    flex: 1;
}

.footer {
    color: $white-color;
    background-color: $header-footer-color;
    padding: 1rem;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    TABLE
----------------------------------------------------- */

td > * {
    vertical-align : middle;
}

table.table tbody tr td span.badge {
    font-size: .8rem;
    padding: 5px 5px;
}

/* ---------------------------------------------------
    NOTIFICACION
----------------------------------------------------- */

.notificacion {
    position: fixed;
    top: 60px;
    right: 1rem;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity .5s ease;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    z-index: 999;
}

.visible {
    opacity: 1;
}

.sombra {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
    border-radius: 10px;
}

.correcto {
    background-color: rgb(179,241, 117);
    color: green;
}
.error {
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}

/* ---------------------------------------------------
    TRIX-EDITOR
----------------------------------------------------- */

.requerimientos {
    overflow-y: scroll;
    min-height: 30vh;
}

.trix-button-group.trix-button-group--file-tools {
    display:none;
}
