/* ---------------------------------------------------
    NOTIFICACION
----------------------------------------------------- */

.notificacion {
    position: fixed;
    top: 60px;
    right: 1rem;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity .5s ease;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    z-index: 999;
}

.visible {
    opacity: 1;
}

.sombra {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
    border-radius: 10px;
}

.correcto {
    background-color: rgb(179,241, 117);
    color: green;
}
.error {
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}
