// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// dashboard
@import 'dashboard';

// notificacion
@import 'notificacion';

@import 'login';

body {
    background-image: url('/img/fondoLoginSPCA.jpg');
    background-position: bottom right;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #fff;
    padding: 4px 30px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.lista-carreras {
    display: grid;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .lista-carreras {
        grid-template-columns: repeat(3, 1fr);
    }
}
